

.secret {
    font-family: 'Roboto Flex';
    min-width: 100%;
    min-height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 20%;

    & > .amount {
        font-weight: 900;
        font-size: 200px;
    }

    & > .logo {
        width:300px;
        margin-left: 100px
    }
}

@media screen and (max-width: 700px) { 
    .secret {
        margin-top: 30%;
        display: flex;
        flex-direction: column;

        & > .amount {
            font-weight: 900;
            font-size: 90px;
        }

        & > .logo {
            width:200px;
            margin-left: 0;
        }
    }
}
