.reportBtn {
    height: 58px;
    color: #fff;
    font-size: 17px;
    margin: 33px 10px 0 10px;
    background-color: transparent;
    border: 2px solid #FAE526;
    font-weight: 900;
    display: inline-block;
    text-align: center;
    line-height:35px;
    cursor: pointer;
    min-width: 112px;
    padding: 10px;
}