* {
    box-sizing: border-box;
}

.edelweiss .donate {
    height: 58px;
    width: 112px;
    color: #000;
    font-size: 17px;
    margin-top: 33px;
    background-color: #fae526;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.edelweiss {
    & > .header-mobile,
    & > .mobile-menu {
        display: none;
    }

    & > .header-desktop {
        height: 64px;
        padding: 0 72px;
        background: #343239;

        display: flex;
        align-items: center;
        justify-content: center;

        & > .name,
        & > .menu {
            width: 50%;
        }

        & > .name {
            color: #fff;
            font-size: 24px;
        }

        & > .menu {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            & > div {
                color: #fff;
                font-size: 16px;
                font-weight: 600;
                margin-left: 32px;
                cursor: pointer;
            }
        }

        & .langSelector {
            color: #fff;
            background-color: #343239;
            border-color: #343239;

            & .Dropdown-arrow {
                display: none;
            }
        }
    }

    & > .welcome {
        height: 900px;
        background: url(./images/welcome.jpg);
        background-size: cover; /* <------ */
        background-repeat: no-repeat;
        background-position: center center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;

        & > .opacity {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #000;
            opacity: 0.33;
        }

        & > .communication {
            font-size: 64px;
            color: #ffffff;
            line-height: 96px;
            text-align: center;
            font-style: normal;
            text-transform: uppercase;
            margin: 0 150px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 5;

            & > .text {
                font-size: 17px;
                color: #ffffff;
                font-weight: 400;
                line-height: 26px;
                font-style: normal;
                text-align: center;
                text-transform: none;
            }
        }
    }

    & > .about-war {
        padding: 64px 72px;
        display: flex;
        background-color: #fff;

        & > .image,
        & > .text {
            width: 50%;
        }

        & > .image {
            min-width: 560px;
            min-height: 560px;
            background: url(./images/about-war.jpg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }

        & > .text {
            padding: 72px 0 0 72px;

            & > .label {
                font-size: 32px;
                color: #222222;
                font-weight: 900;
                line-height: 48px;
                font-style: normal;
                margin-bottom: 16px;
            }

            & > .description {
                color: #000000;
                font-size: 17px;
                font-weight: 400;
                line-height: 26px;
                font-style: normal;
            }
        }
    }

    & > .team {
        background-color: #666564;
        padding: 64px 72px 64px 72px;

        & > .title {
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 48px;
            color: #ffffff;
            margin-bottom: 16px;
        }

        & > .description {
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 26px;
            color: #ffffff;
        }

        & > .members {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;

            & > .member {
                overflow: hidden;
                width: 300px;

                & .imgHolder {
                    overflow: hidden;
                    position: relative;

                    & img {
                        width: 100%;
                        object-fit: contain;
                    }
                }

                & > .name {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 36px;
                    color: #ffffff;
                    margin-top: 15px;
                }

                & > .role {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 26px;

                    color: #ffffff;
                }

                & .social {
                    display: flex;
                }

                & .linkedin,
                & .instagram {
                    width: 30px;
                    height: 30px;
                    & > img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }

            & > .member:not(:last-child) {
                margin-right: 15px;
            }
        }
    }

    & > .equipment {
        display: flex;
        background-color: #343239;
        justify-content: center;
        align-items: center;

        & > .text {
            padding: 64px 72px;

            & > .title {
                font-size: 32px;
                font-weight: 900;
                line-height: 48px;
                font-style: normal;
                color: #ffffff;
            }

            & > .subtitle {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 36px;
                color: #ffffff;
            }

            & > .description {
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 26px;
                color: #ffffff;
                margin-bottom: 64px;
            }
        }

        & > .image {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 64px 72px;
        }

        & .donate {
            display: flex;
        }

        & .donate-mobile {
            display: none;
        }
    }

    & > .help-matters {
        padding: 64px 72px;
        & > .title {
            font-size: 32px;
            font-weight: 900;
            line-height: 48px;
            font-style: normal;
            color: #222222;
        }

        & > .description {
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 26px;
            color: #222222;
            margin-bottom: 64px;
        }

        & > .requisities {
            font-size: 32px;
            font-weight: 900;
            line-height: 48px;
            font-style: normal;
            color: #222222;
            margin-bottom: 31px;
        }

        & > .donate-requisities {
            display: flex;
            justify-content: flex-start;

            & .requisite-holder {
                margin-right: 12px;
                width: calc(100% / 3);
                display: flex;
                border: 4px solid #fae526;
                margin-bottom: 5px;
                flex-direction: column;
                padding: 5px;

                & .title {
                    font-size: 24px;
                    color: #000000;
                    font-weight: 700;
                    line-height: 36px;
                    font-style: normal;
                    text-transform: capitalize;
                    margin-bottom: 10px;
                }

                & .requisite {
                    display: flex;
                    align-items: flex-start;
                    & .name {
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 26px;
                        letter-spacing: 0em;
                        text-align: left;
                        margin-right: 10px;
                        text-transform: uppercase;
                    }

                    & .adress {
                        hyphens: auto;
                        overflow: hidden;
                        word-wrap: break-word;
                        -webkit-hyphens: auto;
                        overflow-wrap: break-word;
                    }
                }
            }
        }

        .donate-btn-holder {
            display: flex;
            justify-content: center;

            & .donate {
                width: auto;
                padding: 16px 24px;
            }
        }
    }

    & > .footer {
        display: flex;
        color: #fff;
        padding: 64px 72px;
        background-color: #343239;
        justify-content: space-between;

        & .left {
            & > div {
                margin-bottom: 16px;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #ffffff;
            }
        }

        & .right {
            & > div {
                margin-bottom: 16px;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #ffffff;
                display: flex;
                justify-content: flex-end;
            }

            & > .skip-style {
                font-weight: normal;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .edelweiss {
        & > .header-mobile,
        & > .mobile-menu {
            display: flex;
            z-index: 10;
        }

        & > .header-desktop {
            display: none;
        }

        & > .header-mobile {
            height: 64px;
            padding: 0 16px;
            position: fixed;
            width: 100%;
            background: #343239;

            display: flex;
            align-items: center;
            justify-content: space-between;

            box-sizing: border-box;

            & > .name {
                color: #fff;
                font-size: 16px;
            }

            & > .icon {
                width: 30px;
                height: 30px;
                & > img {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        & > .mobile-menu {
            top: 64px;
            height: 100%;
            position: fixed;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            & > .empty {
                width: 10%;
                background-color: #000;
                opacity: 0.7;
            }
            & > .menu-holder {
                width: 90%;
                background-color: #fff;
                padding: 64px 0 0 64px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                & > .top > div {
                    color: black;
                    font-size: 24px;
                    margin-bottom: 24px;
                    font-weight: 600;
                    cursor: pointer;
                }

                & > .bottom {
                    margin-bottom: 164px;

                    & > .lang-title {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 36px;
                        color: #000000;
                        margin-bottom: 16px;
                    }

                    & > .lang {
                        display: flex;
                        color: #000000;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        font-style: normal;
                        margin-bottom: 16px;
                        margin-right:64px;
                        justify-content: space-between;
                        cursor: pointer;
                    }
                }
            }
        }

        & > .welcome {
            & > .communication {
                font-style: normal;
                font-weight: 900;
                font-size: 32px;
                line-height: 48px;
                text-align: center;
                margin: 0 16px;
            }
        }

        & > .about-war {
            padding: 24px 16px 16px 16px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            & > .image {
                min-width: 100%;
                min-height: 340px;
                background-position: left;
            }

            & > .text {
                padding: 0;
                min-width: 100%;

                & > .label {
                    font-style: normal;
                    font-weight: 900;
                    font-size: 24px;
                    line-height: 36px;
                    margin-bottom: 16px;
                    margin-top: 16px;
                }

                & > .description {
                    width: 100%;
                    color: #000000;
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 26px;
                    font-style: normal;
                }
            }
        }

        & > .team {
            padding: 24px 16px 16px 16px;

            & > .members {
                flex-direction: column;
                align-items: center;

                & > .member {
                    margin-right: 0;
                    margin-bottom: 20px;
                    overflow: hidden;
                    width: 100%;
                }
            }
        }

        & > .equipment {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            min-width: 100%;

            & .image {
                padding: 16px;
                order: 1;
            }

            & .text {
                order: 2;
                padding: 16px;
                & .description {
                    margin-bottom: 24px;
                }
            }

            & .donate {
                display: none;
            }

            & .donate-mobile {
                order: 3;
                display: flex;
                margin-bottom: 24px;
            }
        }

        & > .help-matters {
            padding: 24px 16px 16px 16px;
            & > .title {
                font-size: 32px;
                font-weight: 900;
                line-height: 48px;
                font-style: normal;
                color: #222222;
            }

            & > .description {
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 26px;
                color: #222222;
                margin-bottom: 24px;
            }

            & > .requisities {
                font-size: 32px;
                font-weight: 900;
                line-height: 48px;
                font-style: normal;
                color: #222222;
                margin-bottom: 31px;
            }

            & > .donate-requisities {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;

                & .requisite-holder {
                    width: 100%;
                    display: flex;
                    border: 4px solid #fae526;
                    margin-bottom: 16px;
                    flex-direction: column;
                    padding: 5px;

                    & .title {
                        font-size: 24px;
                        color: #000000;
                        font-weight: 700;
                        line-height: 36px;
                        font-style: normal;
                        text-transform: capitalize;
                        margin-bottom: 10px;
                    }

                    & .requisite {
                        display: flex;
                        align-items: flex-start;
                        & .name {
                            font-size: 17px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 26px;
                            letter-spacing: 0em;
                            text-align: left;
                            margin-right: 10px;
                            text-transform: uppercase;
                        }

                        & .adress {
                            hyphens: auto;
                            overflow: hidden;
                            word-wrap: break-word;
                            -webkit-hyphens: auto;
                            overflow-wrap: break-word;
                        }
                    }
                }
            }

            .donate-btn-holder {
                margin-bottom: 32px;
            }
        }

        & > .footer {
            flex-direction: column;
            padding: 24px 16px 16px 16px;
            & .right {
                margin-top: 64px;
                & > div {
                    justify-content: flex-start;
                }

                & > .hidden {
                    display: none;
                }
            }
        }
    }
}
